<div data-role="page" data-theme="a">

  <div data-role="header" data-position="inline">
    <h1>Without iscroll Sample Page</h1>
    <a href="<%= url_for :action => :index %>" class="ui-btn-left" data-icon="back" data-direction="reverse">
      Cancel
    </a>
  </div>

  <div data-role="content">
  	<div>Lorem ipsum dolor sit amet, consectetur
      adipiscing elit. Duis porta, lorem sit amet feugiat lacinia, mi dui
      sodales eros, id lacinia mauris urna eu est. Proin pulvinar, augue
      sed convallis elementum, magna diam pharetra magna, id vestibulum est
      eros vitae ante. Ut auctor erat a tellus venenatis eu fermentum lorem
      scelerisque. Cras dignissim leo ornare massa sollicitudin sit amet
      pulvinar turpis hendrerit. Morbi hendrerit nunc eget turpis luctus id
      ultricies lorem consequat. Donec eu lacus sed mauris sollicitudin
      laoreet. Cras vitae sodales diam. Donec mollis, libero ut
      pellentesque dignissim, risus orci ornare nisi, sed eleifend enim
      purus malesuada neque. Nulla tellus sem, scelerisque sed sagittis id,
      eleifend venenatis ligula. Vivamus placerat neque sit amet metus
      ultricies facilisis. Nulla a odio magna. Pellentesque habitant morbi
      tristique senectus et netus et malesuada fames ac turpis egestas. Sed
      commodo quam eu enim lacinia vitae ultrices nulla mollis. Aenean eget
      lectus turpis, at ultrices leo. Nulla vehicula magna in risus ornare
      vestibulum. Integer gravida magna quam. Donec augue ante, fringilla
      non congue eu, aliquam lacinia nisi. Class aptent taciti sociosqu ad
      litora torquent per conubia nostra, per inceptos himenaeos. Maecenas
      nisl ante, suscipit ut suscipit nec, dictum sit amet orci. Maecenas
      fermentum sapien turpis, sit amet eleifend justo. Aenean auctor
      interdum sem sed tincidunt. Aliquam ullamcorper malesuada fermentum.
      Nunc consectetur, ipsum et pulvinar ultrices, lorem nibh egestas
      sapien, at egestas lorem metus sit amet lacus. Maecenas non feugiat
      orci. Curabitur imperdiet tempus lacus, volutpat fermentum diam
      convallis a. In hac habitasse platea dictumst. Pellentesque nec ipsum
      diam, at consectetur elit. Duis feugiat ullamcorper libero tincidunt
      aliquet. Sed leo nisl, iaculis non pellentesque nec, scelerisque vel
      felis
    </div>
    Input1 : <input type="text" id="input1" name="input1" /> <br />
    Input2 :<input type="text" id="input2" name="input2" />
    <div>Lorem ipsum dolor sit amet, consectetur
      adipiscing elit. Duis porta, lorem sit amet feugiat lacinia, mi dui
      sodales eros, id lacinia mauris urna eu est. Proin pulvinar, augue
      sed convallis elementum, magna diam pharetra magna, id vestibulum est
      eros vitae ante. Ut auctor erat a tellus venenatis eu fermentum lorem
      scelerisque. Cras dignissim leo ornare massa sollicitudin sit amet
      pulvinar turpis hendrerit. Morbi hendrerit nunc eget turpis luctus id
      ultricies lorem consequat. Donec eu lacus sed mauris sollicitudin
      laoreet. Cras vitae sodales diam. Donec mollis, libero ut
      pellentesque dignissim, risus orci ornare nisi, sed eleifend enim
      purus malesuada neque. Nulla tellus sem, scelerisque sed sagittis id,
      eleifend venenatis ligula. Vivamus placerat neque sit amet metus
      ultricies facilisis. Nulla a odio magna. Pellentesque habitant morbi
      tristique senectus et netus et malesuada fames ac turpis egestas. Sed
      commodo quam eu enim lacinia vitae ultrices nulla mollis. Aenean eget
      lectus turpis, at ultrices leo. Nulla vehicula magna in risus ornare
      vestibulum. Integer gravida magna quam. Donec augue ante, fringilla
      non congue eu, aliquam lacinia nisi. Class aptent taciti sociosqu ad
      litora torquent per conubia nostra, per inceptos himenaeos. Maecenas
      nisl ante, suscipit ut suscipit nec, dictum sit amet orci. Maecenas
      fermentum sapien turpis, sit amet eleifend justo. Aenean auctor
      interdum sem sed tincidunt. Aliquam ullamcorper malesuada fermentum.
      Nunc consectetur, ipsum et pulvinar ultrices, lorem nibh egestas
      sapien, at egestas lorem metus sit amet lacus. Maecenas non feugiat
      orci. Curabitur imperdiet tempus lacus, volutpat fermentum diam
      convallis a. In hac habitasse platea dictumst. Pellentesque nec ipsum
      diam, at consectetur elit. Duis feugiat ullamcorper libero tincidunt
      aliquet. Sed leo nisl, iaculis non pellentesque nec, scelerisque vel
      felis
    </div>
  </div>
</div>  